@import url('https://fonts.cdnfonts.com/css/golden-harvest');   
p{
    font-family: 'Golden Harvest', sans-serif;
   font-size: x-large;
}
.botao-rosa {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botao-rosa:hover {
    background-color: #FF3385;
}
